<widget>
	<type>pactResponseLayout</type>
	<parameters>
		<xsl>serviceplan-show</xsl>
		<pactrequest><![CDATA[
			<pactrequest>
				<target><SelectTimeSpanEntity>
        <entityType>plan</entityType>
        <quoteRef index="A1">{quoteRef}</quoteRef>
    </SelectTimeSpanEntity></target>
				<context>
					<locale>
						<language>en</language>
						<country>GB</country>
					</locale>
					<actor><actorUid>123</actorUid></actor>
					<party><partyUid>123</partyUid></party>
					<process/>
					<evType/>
					<evSubType/>
					<sessionId>{sessionId}</sessionId>
					<dateFormat>dd/MM/yyyy kk:mm:ss</dateFormat>
					<timeWarning>2000</timeWarning>
				</context>
				<timepoint>
					<effectivetime>now</effectivetime>
					<physicaltime>now</physicaltime>
				</timepoint>
				<return>
					<name>asTimeSpanEntityVersionSnapshot</name>
					<params><useCache>true</useCache><depth>1</depth></params>
				</return>
			</pactrequest>
		]]></pactrequest>
        <privilegeFiltered>true</privilegeFiltered>
	</parameters>
	<attributes>
		<page.title>Service Plan Display</page.title>
		<js>serviceplan-show.js</js>
		<css>serviceplan-show.css</css>
		<waitForNested>true</waitForNested>
	</attributes>
	<filters>
		<filter>
			<attributes>
				<name>valueInjector</name>
				<htmlTemplate>serviceplan-show.html</htmlTemplate>
			</attributes>
		</filter>
	</filters>
</widget>
