<widget>
	<type>pactResponse</type>
	<parameters>
		<xsl>insuredCommodity</xsl>
		<pactrequest>
			<![CDATA[
			<pactrequest>
			    <target>
			        <uid>{policyUid}</uid>
			    </target>
			    <context>
                    <actor><actorUid>123</actorUid></actor>
                    <party><partyUid>123</partyUid></party>
			    </context>
			    <timepoint>
			        <effectivetime>now</effectivetime>
			        <physicaltime>now</physicaltime>
			    </timepoint>
			   <return>
			        <name>asIdentifiedEntity</name>
					<params>
	          		 <descriptionPattern>[primaryInsuranceSection.[vehicle.{make} {model}, {registrationNumber}]]</descriptionPattern>
	      			 </params>
			    </return>
			</pactrequest>
			]]>
		</pactrequest>
	</parameters>
	<attributes>
			<js>insuredCommodity.js</js>
			<css>insuredCommodity.css</css>
		<displayHeader>false</displayHeader>
	</attributes>
</widget>
