*,*:before,*:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body{
	min-width: 275px;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;	
}

#backgroundText text{
	fill: none;
	stroke: rgba(0, 0, 0, 0.05);
}

#cp-policy{
	min-height: 400px;
}

div.widget>.widget-head{
	display: none;
}
div.widget>.widget-messages{
	overflow: hidden;
	background-color: #A0F0F0;
	color: #333;
	border-radius: 0.25em;
}
div.widget>.widget-messages>div{
	padding: 0.25em 0.5em;
}
div.widget>.widget-messages>div>a{
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('symbol-close.png') no-repeat;
	cursor: pointer;
}
div.widget>.widget-messages>div.error{
	background-color: #F0A0A0;
}

#cp-policy-menu{
	width: 100%;
	margin-bottom: 2em;
	padding-right: 1px; /* fixes scroll bug */
	text-align: center;
}

#cp-plans{
	text-align:center;
}

#cp-policy-menu a{
	display: inline-block;
	margin: 0.25em 0;
	padding: 0.75em 1em;
	background: #0090c0;
	color: #FFF;
	font-size: 1.1em;
	border-radius: 0.25em;
	cursor: pointer;
	min-width: 20%;
}
#cp-policy-menu a.on{
	background-color: #92CE56;
}

#cp-policy .section{
	display:none;
}

#cp-policy .section.on{
	display:block;
}

#cp-policy .pane.warn{
	border-color: #FD0;
}
#cp-policy .pane.alert{
	border-color: #D44;
}
#cp-policy .pane .title{
	display: block;
	margin-bottom: 0.25em;
	padding: 0 1em;
	background-color: #555;
	color: #FFF;
}
#cp-policy .pane.warn .title{
	background-color: #FD0;
	color: #333;
}
#cp-policy .pane.alert .title{
	background-color: #D44;
}
#cp-policy .pane .hint:before{
	content: '▲';
	position: absolute;
	margin: -1.2em 1em 0 0;
	color: #555;
	right: 0;
	font-size: 1.5em;
	text-shadow: 0 -6px 0 #FFF;
}
#cp-policy .pane.warn .hint:before{
	color: #FD0;
}
#cp-policy .pane.alert .hint:before{
	color: #D44;
}
#cp-policy .pane .hint{
	position: absolute;
	margin: 3em 0em 0 -14em;
	width: 14em;
	background: #555;
	color: #FFF;
	padding: 0.5em;
	border-radius: 0.25em;
}
#cp-policy .pane.warn .hint{
	background: #FD0;
	color: #333;
}
#cp-policy .pane.alert .hint{
	background: #D44;
}
#cp-policy .pane .hint a{
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}
#cp-policy-docs .pdf{
	display: inline-block;
	margin: 1em 0;
	padding: 12px 50px;
	white-space: nowrap;
	background: url('file-pdf.png') no-repeat left;
	color: inherit;
}

footer {
	margin-top:1em;
	padding: 1em 10%;
	color: #DDD;
	font-size: 0.65em;
}
footer p {
	display: inline-block;
	width: 80%;
	margin: 0;
	vertical-align: top;
}
footer p:first-child{
	width: 19.5%;
	font-weight: bold;
}
