*,*:before,*:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	height: 70vh;
	max-width: 75em;
	padding: 1em;
	overflow: auto;
}
h2 {
	margin-top: 2em;
}
.box {
	padding: 1em;
	border: thin solid;
	border-radius: 1em;
}
dl {
	clear: both;
	float: left;
}
dt {
	float: left;
	clear: left;
	width: 15%;
}
dd {
	float: left;
	clear: right;
	width: 75%;
	margin-bottom: 1em;
}
footer {
	height: 200px;
	background: url('road.png') no-repeat;
	background-size: contain; 
}