#header-logout {
	position: absolute;
	right: 20px;
	top: 10px;
	margin: 0 1em;
	padding: 0.2em 1.5em;
	background: rgba(0,0,0,0.1);
	border-radius: 0.25em;
	font-size: 1em;
	text-decoration: none;
	color: black;
}
#header-logout:hover {
	background: rgba(0,0,0,0.15);
}