#cp-policy-claims a{
	color: inherit;
}
#cp-policy-claims .pane:hover{
	border-color: #92CE56;
}
#cp-policy-claims .pane:hover .title{
	background-color: #92CE56;
}
#cp-policy-claims .claim{
	display: inline-block;
	height: 50px;
	vertical-align: top;
	padding: 50px 0.5em 0 0.5em;
	font-size: 0.8em;
	background: url('flag2.png') no-repeat center top;
}
#cp-policy-claims .theft{
	background-image: url('flag2.png');
}
#cp-policy-claims .hit{
	background-image: url('flag2.png');
}
#cp-policy-claims .add{
	background: url('symbol-add-dark-small.png') no-repeat center 20%;
}