<widget>
	<type>pactResponse</type>
	<parameters>
		<xsl>cp-policy-claims</xsl>
		<pactrequest>
			<![CDATA[
			<pactrequest>
				<target>
					<SelectTimeSpanEntity>
						<partassociatedidentifier><uid>{polUid}</uid></partassociatedidentifier>
					</SelectTimeSpanEntity>
				</target>
				<timepoint>
					<effectivetime>now</effectivetime>
					<physicaltime>now</physicaltime>
				</timepoint>
				<context>
					<locale>
						<language>en</language>
						<country>GB</country>
					</locale>
				</context>
				<return>
					<name>asTimeSpanEntityVersion</name>
					<params></params>
				</return>
			</pactrequest>
			]]>
		</pactrequest>
	</parameters>
	<attributes>
		<js>cp-policy-claims.js</js>
		<css>cp-policy-claims.css</css>
		<delayLoad>true</delayLoad>
	</attributes>
</widget>
