<widget>
	<type>pactResponse</type>
	<parameters>
		<xsl>cp-policy-claims</xsl>
		<pactrequest>
			<![CDATA[
			<pactrequest>
				<target>
					<SelectTimeSpanEntity>
						<partassociatedidentifier><uid>{polUid}</uid></partassociatedidentifier>
					</SelectTimeSpanEntity>
				</target>
				<timepoint>
					<effectivetime>now</effectivetime>
					<physicaltime>now</physicaltime>
				</timepoint>
				<context>
					<locale><language>en</language><country>GB</country></locale>
					<party/>
					<actor/>
					<process/>
					<evType/>
					<evSubType/>
					<sessionId>2CCAE482F628A2A930FD46338528E4A9</sessionId>
				</context>
				<return>
					<name>asTimeSpanEntityVersion</name>
					<params></params>
				</return>
			</pactrequest>
			]]>
		</pactrequest>
	</parameters>
	<attributes>
		<js>cp-policy-claims.js</js>
		<css>cp-policy-claims.css</css>
		<delayLoad>true</delayLoad>
	</attributes>
</widget>
