<widget>
	<type>pactResponseLayout</type>
	<parameters>
		<pactrequest><![CDATA[<pactrequest>
		<target><uid>{agreementUid}</uid><partPath>Motor Premium Variation</partPath></target>
	<context>
		<locale>
			<language>en</language>
			<country>GB</country>
		</locale>
		<actor><actorUid>123</actorUid></actor>
        <party><partyUid>123</partyUid></party>
		<process/>
		<evType/>
		<evSubType/>
		<sessionId>{sessionId}</sessionId>
		<dateFormat>dd/MM/yyyy kk:mm:ss</dateFormat>
		<timeWarning>2000</timeWarning>
	</context>
	<timepoint>
		<effectivetime>ff</effectivetime>
		<physicaltime>now</physicaltime>
	</timepoint>
	<return>
		<name>asIdentifiedEntity</name>
		<params><useCache>true</useCache><descriptionPattern>{variationEffectiveDate.dd/MM/yyyy}: {premiumVariation}</descriptionPattern></params>
	</return>
</pactrequest>]]></pactrequest>
	</parameters>
	<attributes>
		<js>scp-policy-adjustments-display.js</js>
	</attributes>
	<filters>
		<filter>
			<attributes>
				<name>valueInjector</name>
				<htmlTemplate>scp-policy-adjustments-display.html</htmlTemplate>
			</attributes>
		</filter>
	</filters>
</widget>
