body {
	margin: 0;
}
h1 {
	font-size: 1.75em;
	color: #960;	
}
input, select {
	border-color: #960 !important;
}
.button, input[type='button'] {
	background-color: #b60;
	color: #fff !important;
}
#landingPage .pane {
	border-color: #ea0 !important;
}
#landingPage .pane h2 {
	background-color: #ea0 !important;
}
#landingPage .duration {
	background: url('calendar-year-dark.png') no-repeat !important;
}
#landingPage .vehicle {
	background: url('transport-car-dark.png') no-repeat !important;
}

div.widget[name='sp-qquote'] label {
	width: auto;
	min-width: 30em;
	vertical-align: initial;
}
div.widget[name='sp-qquote'] .navigation {
	margin-top: 3em;
	text-align: left;
}
input[type="text"], input[type="email"], input[type="password"], input[type='date'], select {
	border-radius: 0.25em;
	color: inherit !important;
}
div.widget[name='sp-qquote'] input[type="submit"] {
	margin: 0;
}
div.widget[name='sp-qquote'] h2 {
	font-weight: normal;
}
div.widget[name='sp-qquote'] input.button.small {
	background-color: #960;
}
div.widget[name='sp-qquote'] .confirmVehicleForm p:last-child {
	background-image: url('transport-car-dark-small.png');
}
div.widget[name='sp-qquote'] form {
	width: auto;
	background-color: rgba(255,255,255,0.5);
}
div.widget[name='sp-qquote'] .coverForm .field input {
	width: 10em;
}
div.widget[name='sp-qquote'] .coverForm .field input[type='date'] {
	text-align: left!important;
}
.vehicleForm h2 {
	display: none;
}