form {
	margin: auto;
}
h1 {
	color: #960;	
}
input, select {
	border-color: #960 !important;
}
.button, input[type='button'] {
	background-color: #b60;
	color: #fff !important;
}
#landingPage .pane {
	border-color: #ea0 !important;
}
#landingPage .pane h2 {
	background-color: #ea0 !important;
}
#landingPage .duration {
	background: url('calendar-year-dark.png') no-repeat !important;
}
#landingPage .vehicle {
	background: url('transport-car-dark.png') no-repeat !important;
}