*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	min-width: 275px;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #F0F0F0;
	color: #333;
}
#backgroundText text {
	fill: none;
	stroke: rgba(0, 0, 0, 0.05);
}
header {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 1em 10%;
	background: rgba(255,255,255,0.3);
}
header h2 {
	float: left;
	margin: 0;
	font-size: 1em;
	color: rgba(255,255,255,0.8);
	text-shadow: 0 0 8px rgba(0,0,0,0.3);
}
header h2 span {
	display: inline-block;
	margin: -1em 0 -1em 0.25em;
	font-size: 1.25em;
	color: #92CE56; /* Green */
}
header .common-header-menu, header .common-language-switcher {
	float: right;
}
header .common-language-switcher nav {
	position: absolute;
	width: auto;
	height: auto;
	margin: -6px 0 0 0;
	font-size: small;
	background: transparent;
	border: thin solid;
	transition: 1s;
}
header .common-language-switcher nav:hover {
	background-color: rgba(255,255,255,0.3);
}
header .common-language-switcher #languages a {
	width: 26px;
	margin: 8px auto;
}
#home-banner {
	height: 500px;
	height: 100vh;
	padding-top: 5%;
	background: url('xray10@flickr.com.jpg') no-repeat center; /* (c)xray10@flickr.com licensed under creative commons*/
	background-size: cover;
}
#home-banner>h1 {
	width: 400px;
	height: 125px;
	margin: 0 0 0 1%;
	background: url('quindell.png') no-repeat left bottom;
}
#home-banner h2 {
	display: inline-block;
	margin: 0;
	padding: 0.1em 0.5em 0.15em 4em;
	background: rgba(0,0,0,0.35);
	color: rgba(255,255,255,0.9);
	font-weight: normal;
	font-size: 2em;
	border-radius: 0 0.4em 0 0;
}
@media screen and (max-width: 650px) {
	#home-banner h2 {
		display: none;
	}
}
#home-content {
	position: absolute;
	right: 0;
	top: 25%;
	width: 100%;
	margin: 0;
	text-align: right;
}
#home-content article {
	display: block;
	width: 100%;
	height: 100px;
	margin: 0 1em 1em 0;
	padding: 0;
	overflow: hidden;
	vertical-align: top;
}
#home-content article a {
	display: inline-block;
	padding: 1em;
	color: inherit;
	text-decoration: none;
}
#home-content article div {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#home-content article p {
	display: none;
	max-width: 400px;
	margin: 0 0.5em 0 0;
	font-size: 0.9em;
	color: #FFF;
	text-align: center;
	border-radius: 0.5em;
	border: medium solid #FFF;
}
#home-content article:hover p {
	display: inline-block;
}
#home-content article p:hover {
	background: rgba(255,255,255,0.2);
	transition: 0.5s;
}
#home-content article h2 {
	display: inline-block;
	width: 100px;
	margin: 0;
	padding: 3em 0 0.25em 0;
	vertical-align: top;
	background: no-repeat center 5%;
	color: #FFF;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}
#home-content article.news>h2 {
	background-image: url('world-light.png');
}
#home-content article.products>h2 {
	background-image: url('calculator-buttons-light.png'); 
}
#home-content article.portal>h2 {
	background-image: url('terminal-light.png');
}
#home-content article.products a {
	width: 100px;
	height: 75px;
	padding-top: 40px;
	overflow: hidden;
	vertical-align: top;
	background: url('cube-small-light.png') no-repeat center 10px;
}
#home-content article.products a[href='home-quote'] {
	background-image: url('home-small-light.png');
}
footer {
    position: absolute;
    bottom: 0;
	width: 100%;
	padding: 1em 10%;
    background: rgba(60,60,60,0.9);
	color: #DDD;
	font-size: 0.65em;
}
footer p {
	display: inline-block;
	width: 80%;
	margin: 0;
	vertical-align: top;
}
footer p:first-child{
	width: 19.5%;
	font-weight: bold;
}
@media screen and (max-width: 800px) {
	footer {
		padding: 1em;
	}
}
@media screen and (max-height: 500px) {
	footer {
		position: static;
	}
}

.widget-messages ul {
	margin: 0;
	padding: 0.5em;
	list-style: none;
	border: medium solid #FFF;
	border-radius: 1em;
	opacity: 0.25;
}
.widget-messages ul:hover {
	opacity: 1;
	transition: 1s;
}
.widget-messages li {
	display: none;
	padding: 0.5em 1em;
	background: #FFF;
	border-radius: 0.5em;
}
.widget-messages li:first-child {
	display: list-item;
}
