body{
	min-width: 275px;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #F0F0F0;
	color: #333;
}

#backgroundText text{
	fill: none;
	stroke: rgba(0, 0, 0, 0.05);
}

header{
	width: 80%;
	margin: 1em auto;
	padding-bottom: 1em;
}
header h2{
	float: left;
	margin: 0;
	font-size: 1em;
	color: #0DB4F2; /* Blue */
}
header h2 span{
	color: #92CE56; /* Green */
}
@media screen and (max-width: 1000px) {
	header{
		width:98%;
	}
}

#home-banner{
	height: 500px;
	background: url('banner.jpg') no-repeat center; /* (c)xray10 @ flickr.com */
	background-size: cover;
}
#home-banner>h1{
	width: 400px;
	height: 125px;
	margin: 0 0 0 1%;
	background: url('model-insurance.png') no-repeat left bottom;
}
#home-banner h2{
	display: inline-block;
	margin: 0;
	padding: 0 0.5em 0 4em;
	background: rgba(0,0,0,0.35);
	color: rgba(255,255,255,0.9);
	font-weight: normal;
	font-size: 2em;
	border-radius: 0.15em;
}
#home-content{
	width: 80%;
	margin: -2em auto 0 auto;
	text-align: center;
}
#home-content article{
	display: inline-block;
	width: 270px;
	height: 182px;
	overflow: hidden;
	margin: 0 3em 3em 0;
	vertical-align: top;
	background: #0DB4F2;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border: thick solid transparent;
	border-radius: 1em;
	text-align: center;
	cursor: pointer;
}
#home-content article:hover{
	background: #92CE56;
}
#home-content article>h2{
	display: inline-block;
	width: 100%;
	height: 15%;
	margin: 0;
	padding: 2.5em 0 0.25em 0;
	background: no-repeat center 5%;
	color: #fff;
	font-weight: normal;
}
#home-content article.news>h2{
	background-image: url('world-light.png');
}
#home-content article.products>h2{
	background-image: url('calculator-buttons-light.png'); 
}
#home-content article.portal>h2{
	background-image: url('terminal-light.png');
}
#home-content article>p{
	height: 100%;
	margin: 0;
	padding: 1em;
	font-size: 0.8em;
	line-height: 1.25em;
	border-radius: 0.25em;
	background: #FFF;
	color: #000;
}
#home-content article.products ul{
	margin: 0;
	padding: 0;
	background: #FFF;
	list-style: none;
}
#home-content article.products li{
	padding: 0.5em 0;
}
#home-content article.products a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
#home-content article.products:hover{
	height: auto;
}
#home-content article.products li:hover {
	background: #92CE56;
	color: #FFF;
}

@media screen and (max-width: 1000px) {
	#home-content{
		width:98%;
	}
}

footer{
	width: 80%;
	margin: 3em auto 1em auto;
	background-color: #777;
	color: #FFF;
	font-size: 0.75em;
	border-radius: 0.25em;
}
footer p{
	padding: 0 1em 1em 1em;
	margin: 0;
}
footer p:first-child{
	padding-top: 1em;
	font-weight: bold;
}
@media screen and (max-width: 1000px) {
	footer{
		width:98%;
	}
}