#cp-policy-payments-table{
	width: 100%;
}
#cp-policy-payments-table th{
	border-bottom: medium solid;
	color: #333;
	background: none;
}
#cp-policy-payments-table td:last-child:before{
	content:'£';
}
#cp-policy-payments-table tr:nth-child(even){
	background-color: rgba(146,206,86,0.5)
}
#cp-policy-payments-table tr:first-child,#cp-policy-payments-table tr:last-child{
	background-color: transparent;
}
#cp-policy-payments-table .summary{
	font-size: 1.5em;
	font-weight: bold;
}
#cp-policy-payments-table .summary .label{
	text-align: right;
	text-transform: uppercase;
}
