button {
	padding: 0.5em 1em;
	background-color: #B60 !important;
	color: #fff;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
}
.button {
	background-color: #a60;
	color: #fff;
}
footer {
	position: fixed;
	bottom: 0;
	color: inherit;	
	z-index: -1;
}
form {
	box-shadow: 0 0 0 0.5em #EA0 !important;
}
h2 {
	color: #960!important;
}
#cp-policy-menu {
	float: left;
	width: 15%;
}
#cp-policy-menu a {
	background-color: #ea0;
	width: 100%;
	text-align: center;
}
#cp-policy-menu a.on {
	background-color: #a60;
}
#menu-logout {
	margin-top: 2em!important;
}
.section {
	width: 75%;
	margin-left: 20%;
}
.cp-home .scp-serviceplan-show .property-label {
	color: #a60 !important;
}
.cp-home .scp-serviceplan-show .service {
	border-color: #a60 !important;
}
.cp-home .scp-serviceplan-show .dates2 {
	display: none;
}
.cp-home .scp-serviceplan-show .canx span {
	display: none;
}
#quote-list {
	border-color: #a60 !important;
}
#quote-list .quotes-header span {
	background-color: #a60 !important;
	border-bottom: none !important;
}
.cp-quotes .quotes-quote a {
	background-color: #ea0 !important;
}
.policyholder .property-label {
	color: #a60 !important;
}
.policyholder .side2:hover .action {
	background-color: #a60 !important;
}
div.widget[name='sp-qquote'] form {
	width: auto !important;
	clear: initial !important;
	box-shadow: none !important;
	padding-top: 2em !important;
}
div.widget[name='sp-qquote'] .navigation {
	clear: initial !important;
}
div.widget[name='sp-qquote'] #landingPage {
	width: 100% !important;
	clear: none !important;
}
div.widget[name='sp-qquote'] #landingPage .pane {
	border-color: #ea0 !important;
}
div.widget[name='sp-qquote'] #landingPage .pane h2 {
	background-color: #ea0 !important;
	color: #fff !important;
}
div.widget[name='sp-qquote'] #landingPage .pane input[type="button"] {
	background-color: #a60 !important;
	color: #fff !important;
}
footer {
	position: initial;
}