#login-form {
	clear: both;
}
#login-form h2 {
	margin: 0 0 0.5em 0;
}
#login-form h3 {
	font-size: 1.1em;
	margin: 0;
}
#login-form p {
	margin: 0.5em 0;
	font-size: 0.8em;
}
#login-form label {
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}
#login-form input {
	display: block;
	width: 90%;
	padding: 0.1em 0.25em;
	font-size: 1.5em;
	border: thin solid #888;
	border-radius: 0.25em;
}
#login-form button {
	float: right;
	margin-top: 1em;
	padding: 0.2em 2em;
	background: #92CE56;
	color: white;
	border: none;
	border-radius: 0.25em;
	font-size: 1.5em;
	cursor: pointer;
}
#login-form button:hover {
	background-color: #82BE46;
}
#login-form-enter {
	margin-bottom: 2em;
}
#login-form a {
	float: left;
	margin-top: 1.5em;
	font-size: 0.75em;
	color: inherit;
	text-decoration: none;
}
#login-form a:hover {
	text-decoration: underline;
}
#login-form-reset-text {
	padding: 0.6em 0;
}