form {
	padding: 0.2em 2em 0 2em;
	clear: both;
}

h1 {
	color: #333;
	font-size: 230%;
	font-weight: normal;
}
h3 {
	padding: 0 1em 0 1em;
}
p {
	font-size: 1.3em;
	padding: 0 1em 0 0.5em;
}
label {
	display: inline-block;
	font-size: 1.2em;
	padding: 0 1em 0 1em;
	width: 40%;
	vertical-align: middle;
}
label.forRadio {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
}
label.forPayment {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
	display: inline;
}


input:focus {
	outline: medium solid #0090C0;
}
input[type="radio"] {
    background-color: #FFF;
    border: thin solid #0090C0;
    padding: 0.45em;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type="radio"]:checked {
	background-color: #0090C0; 
    padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="radio"]:checked:after {
	background-color: #0090C0; /*blue*/
	color: #FFF;
	content: '\2714';
    font-size: 1.3em;   
}
input[type="checkbox"] {
    background-color: #FFF;
    border: thin solid #0090C0;
    padding: 0.45em;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type="checkbox"]:checked {
	background-color: #0090C0; 
	padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="checkbox"]:checked:after {
	background-color: #0090C0; /*blue*/
	color: #FFF;
	content: '\2714';
	font-size: 1.3em;   
}

input[type="button"] {
	background-color: #92CE56;
	border: none;
	border-radius: 0.25em;
	color: #FFF;
	cursor: pointer;
	font-size: 1.2em;	
	padding: 0.2em 1em;
	outline: none;
}
input[type="text"] {
	width: 20%;
	padding: 0.1em 0.25em 0 0.25em;
	border: thin solid #0090C0;
	font-size: 1.3em;
}

input[type="submit"] {
	background-color: #92CE56;
	border: none;
	border-radius: 0.25em;
	color: #FFF;
	cursor: pointer;
	font-size: 2em;	
	margin:	1em 1em 1em 0;
	padding: 0.2em 1em;
}


select {
	border: thin solid #0090C0;
	font-size: 1.3em;
	width: 20%;
}

div.field {
	border-bottom: thin solid rgba(0, 0, 0, 0.1);
	min-height: 2.1em;
	padding: 1em 0;
}
div.field:hover {
 	background-color: rgba(0,0,0,0.1);
 }
div.field.on, div.field.on:hover {
	background-color: rgba(0,0,0,0.2);
}
 div.field:hover {
 	background-color: rgba(0,0,0,0.1);
 }
div.field.on .hint{
	display: inline-block;
}
div.field a{
	color: #92CE56;
	font-weight: bold;
	margin-left: 2em;
}

.hint{
	background-color: #92CE56;
	border-radius: 0.25em;
	color: #FFF;
	display: none;
	padding: 0.35em;
	position: absolute;
	right: 7em;
	width: 15em;
}
.hint h3 {
	margin: 0;
}
.hint::before {
	color: #92CE56;
	content: '◄';
	font-size: 2em;
	position: absolute;
	margin: -0.3em 0 0 -1em;
}
@media screen and (max-width: 1300px) {
	.hint{
		margin-top: 4em;
	}
	.hint::before {
		color: #92CE56;
		content: '▲';
		font-size: 2em;
		position: absolute;
		margin: -1.1em 0 0 -0em;
	}
}

.rf-dropdown ul{
	min-width: 21%;
	max-height: 10em;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0.5em 0 0 44%;
	padding: 0;
	list-style: none;
	background-color: rgba(13,180,242,0.3);
}
.rf-dropdown li{
	padding: 0.1em 0.5em;
}
.rf-dropdown li:nth-child(even) {
	background-color: rgba(255,255,255,0.1);
}
.rf-dropdown li:hover{
	text-decoration: underline;
}

.navigation {
	text-align: right;
}

.navigation input[type="button"]{
	font-size: 2em;	
}

.invalid-message {
	background: #D44; /*red*/
	border-radius: 0.25em;
	color: #FFF;
	font-weight: bold;
	margin-left: 0.5em;
	padding: 0.5em;
}

.vehicle_search {
	background-color: #FFF;
	border: thin solid #0090C0;
	border-radius: 0.25em;
	margin-left: 30%;
	padding: 0.5em;
	text-align: center;
	width: 50%;
}
.vehicle_search div {
	float: left;
	text-align: left;
	width: 45%;
}
.vehicle_search select {
	text-align: right;
}
.checkboxLabel {
	display: inline;
	padding: 0;
}

.carDetails {
	font-size: 1.2em;
}

#input_purchaseDateMonth {
	width: auto;
}

#input_purchaseDateYear {
	width: auto;
}

/* crumb trail */
#crumbTrail li{
	 float: left;
	 width: 190px;
	 height: 20px;
	 margin: 1% 10px;
	 padding: 10px 0 10px 30px;
	 list-style: none;
	 background: rgba(0,0,0,0.5) no-repeat 6px center;
	 color: #FFF;
	 border-radius: 10em 1em 2em 10em;
}
#crumbTrail li:before{
	 content: '';
	 position: absolute;
	 height: 0;
	 width: 0;
	 margin: -10px 0 0 190px;
	 border-top: 19px dotted transparent;
	 border-bottom: 19px dotted transparent;
	 border-left: 16px dotted rgba(0,0,0,0.5);
}
#crumbTrail li.on{
	 height: 40px;
	 margin-left: 15px;
	 padding-left: 75px;
	 background-color: #0DB4F2;
	 font-size: 1.5em;
	 font-weight: bold;
}
#crumbTrail li.on:before{
	 margin-left: 189px;
	 border-left-color: #0DB4F2;
}
#crumbTrail li.on:after{
	 content: '';
	 float: left;
	 width: 60px;
	 height: 60px;
	 margin: -20px 0 0 -84px;
	 border-radius: 10em;
	 border: 10px solid #0DB4F2;
}
#crumbTrail li.car{
	 background-image: url('transport-car-light-small.png');
}
#crumbTrail li.drivers{
	 background-image: url('person-group-light-small.png');
}
#crumbTrail li.policy{
	 background-image: url('document-contract2-light-small.png');
}
#crumbTrail li.quote{
	 background-image: url('currency-sign-pound-light-small.png');
}
#crumbTrail li.on.car{
	 background-image: url('transport-car-light.png');
}
#crumbTrail li.on.drivers{
	 background-image: url('person-group-light.png');
}
#crumbTrail li.on.policy{
	 background-image: url('document-contract2-light.png');
}
#crumbTrail li.on.quote{
 background-image: url('currency-sign-pound-light.png');
}

.rf-debugbar{
	opacity: 0.15;
}
