form {
	padding: 0.2em 2em 0 2em;
	clear: both;
}
h1 {
	color: #333;
	font-size: 230%;
	font-weight: normal;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
}
input[type="date"] {
	border: thin solid #0090C0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
}
input[type="button"] {
	background-color: #92CE56;
	border: none;
	border-radius: 0.25em;
	color: #FFF;
	cursor: pointer;
	font-size: 1.2em;	
	padding: 0.2em 1em;
}
input[type="checkbox"] {
    background-color: #FFF;
    border: thin solid #0090C0;
    padding: 0.45em;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type="checkbox"]:checked {
	background-color: #0090C0; 
	padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="checkbox"]:checked:after {
	background-color: #0090C0; /*blue*/
	color: #FFF;
	content: '\2714';
	font-size: 1.3em;   
}
input[type="radio"] {
    background-color: #FFF;
    border: thin solid #0090C0;
    padding: 0.45em;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type="radio"]:checked {
	background-color: #0090C0; 
    padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="radio"]:checked:after {
	background-color: #0090C0; /*blue*/
	color: #FFF;
	content: '\2714';
    font-size: 1.3em;   
}
input[type="text"] {
	width: 19%;
	padding: 0.1em 0.25em 0 0.25em;
	border: thin solid #0090C0;
	font-size: 1.3em;
}
input[type="submit"] {
	background-color: #92CE56;
	border: none;
	border-radius: 0.25em;
	color: #FFF;
	cursor: pointer;
	font-size: 2em;	
	margin:	1em 1em 1em 0;
	padding: 0.2em 1em;
}
input[type="submit"]:hover {
	background-color: #82BE46;
}
label {
	display: inline-block;
	font-size: 1.2em;
	padding: 0 1em 0 1em;
	width: 40%;
}
label.forRadio {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
}
label.forPayment {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
	display: inline;
}
p {
	font-size: 1.3em;
	padding: 0 1em 0 0.5em;
}
select {
	width: 20%;
	border: thin solid #0090C0;
	font-size: 1.3em;
	color: inherit;
}
select:disabled {
	background-color: rgb(235, 235, 228);
}

div.field {
	border-bottom: thin solid rgba(0, 0, 0, 0.1);
	min-height: 2.2em;
	padding: 1em 0;
}
div.field:hover {
 	background-color: rgba(0,0,0,0.1);
 }
div.field.on, div.field.on:hover {
	background-color: rgba(0,0,0,0.2);
}
 div.field:hover {
 	background-color: rgba(0,0,0,0.1);
 }
div.field.on .hint{
	display: inline-block;
}
div.field a{
	color: #92CE56;
	font-weight: bold;
	margin-left: 2em;
}
option:first-child{
	color: #999;
}

.hint{
	background-color: #92CE56;
	border-radius: 0.25em;
	color: #FFF;
	display: none;
	padding: 0.35em;
	position: absolute;
	right: 7em;
	width: 15em;
}
.hint h3 {
	margin: 0;
}
.hint::before {
	color: #92CE56;
	content: '◄';
	font-size: 2em;
	position: absolute;
	margin: -0.3em 0 0 -1em;
}
@media screen and (max-width: 1300px) {
	.hint{
		margin-top: 4em;
	}
	.hint::before {
		color: #92CE56;
		content: '▲';
		font-size: 2em;
		position: absolute;
		margin: -1.1em 0 0 -0em;
	}
}

.rf-dropdown ul{
	border: thin solid #0090C0;
	display: inline-block;
	min-width: 20%;
	max-height: 10em;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 0 0 33.5%;
	padding: 0;
	list-style: none;
	background-color: #FFF;
	cursor: pointer;
}
.rf-dropdown li{
	padding: 0.1em 0.5em;
}
.rf-dropdown li:hover{
	color: #FFF;
	background-color: #0090C0;
}

.navigation {
	text-align: right;
}
.navigation input[type="button"]{
	font-size: 2em;	
	margin: 1em 1em 1em 0;
}
.navigation input[type="button"]:first-child{
	font-size: 1.5em;	
}

.invalid-message {
	background: #D44; /*red*/
	border-radius: 0.25em;
	color: #FFF;
	font-weight: bold;
	margin-left: 0.5em;
	padding: 0.5em;
}

.vehicle_search {
	background-color: #FFF;
	border: thin solid #0090C0;
	border-radius: 0.25em;
	margin-left: 30%;
	padding: 0.5em;
	width: 50%;
}

#makeModel label {
	width: 20%;
	text-align: left;
}

#makeModel input {
	width: 60%;
}

#modelDetail {
	padding: 1em 0 1em 0;
}

.checkboxLabel {
	display: inline;
	padding: 0;
}

.disabledSummary {
	font-size: 1.2em;
}

.carFound label {
	margin: 0.5em 0 0.5em 0;
}

.currency:after {
	content: '£';
	float: right;
	margin-right: -4%;
}

#input_title {
	width: auto;
}

.dateSel {
	width: auto;
}

.disabled {
	opacity: 0.5;
}
.disabled h1{
	font-size: 180%
}
.disabled a {
	color: #92CE56;
	font-weight: bold;
	float: right;
	margin-right: 5%;
}

#sectionOne a {
	float: right;
	margin-right: 5%;
}



/* crumb trail */
#crumbTrail li {
	float: left;
	width: 16%;
	height: 20px;
	margin: 1% 10px;
	padding: 10px 0 10px 30px;
	list-style: none;
	background: rgba(0,0,0,0.5) no-repeat 6px center;
	color: #FFF;
	border-radius: 10em 1em 2em 10em;
}
#crumbTrail li:after {
	content: '';
	float: right;
	margin: -10px -16px 0 0;
	border-top: 19px dotted transparent;
	border-bottom: 19px dotted transparent;
	border-left: 16px dotted rgba(0,0,0,0.5);
}
#crumbTrail li.on {
	height: 40px;
	margin-left: 15px;
	padding-left: 75px;
	background-color: #0DB4F2;
	font-size: 1.5em;
	font-weight: bold;
}
#crumbTrail li.on:before {
	content: '';
	float: left;
	width: 75px;
	height: 75px;
	margin: -18px 0 0 -82px;
	border-radius: 10em;
	background: #0DB4F2 no-repeat center center;
}
#crumbTrail li.on:after{
	 border-left-color: #0DB4F2;
}
#crumbTrail li.car{
	 background-image: url('transport-car-light-small.png');
}
#crumbTrail li.drivers{
	 background-image: url('person-group-light-small.png');
}
#crumbTrail li.policy{
	 background-image: url('document-contract2-light-small.png');
}
#crumbTrail li.quote{
	 background-image: url('currency-sign-pound-light-small.png');
}
#crumbTrail li.on.car:before{
	 background-image: url('transport-car-light.png');
}
#crumbTrail li.on.drivers:before{
	 background-image: url('person-group-light.png');
}
#crumbTrail li.on.policy:before{
	 background-image: url('document-contract2-light.png');
}
#crumbTrail li.on.quote:before{
 background-image: url('currency-sign-pound-light.png');
}

.rf-debugbar{
	opacity: 0.15;
}

.loading{
	width: 100%;
	height: 20%;
	background: url('loading.gif') no-repeat center center;
}

/* Customer Details page specific styling */
#customerDetails label {
	display: inline-block;
	font-size: 1.2em;
	padding: 0 1em 0 1em;
	width: 30%;
}

#customerDetails label.forRadio {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
}
/*address lookup formatting*/
#customerDetails .findAddress div.labelWrapper,
#customerDetails .findAddress div.tableWrapper{
	display:inline-block;
	width:30%;
	vertical-align: text-bottom;
}
#customerDetails .findAddress div.labelWrapper {
	padding: 0 1em;
}
#customerDetails .findAddress label{
	width:100%;
	padding:0;
}
#customerDetails .findAddress input{
	width:100%;
}
.addressFound label{
	vertical-align: top;
}
#addressLabel{
	display: inline-block;
}
#addressLabel span{
	display: block;
}
.pcaCapturePlusTable td{
	z-index: 1;
}
.pcaAutoCompleteSmall .item,
.pcaAutoCompleteSmall .selectedItem{
	width:100%;
	display:inline-block;
}
.pcaAutoCompleteSmall .item{
	background-color: #FFF;
}
.pcaAutoCompleteSmall .selectedItem{
	background-color: #EEE;
}
.pcaCapturePlusTable .recentFavouritesSmall{
	background-color: #FFF;
}
.pcaCapturePlusTable .recentFavouritesSmall a{
	color:#000;
	margin:0;
	font-weight:normal;
}
.pcaCapturePlusTable .recentFavouritesSmall .pcaItemHolder:hover{
	background-color: rgba(0,0,0,0.2);
}

/* Landing Page styling */
#landingPage #calcRef {
	float: right;
	margin: 0;
	opacity: 0.5;
	font-size: small;
}
#landingPage .pane {
	display: inline-block;
	width: 40%;
	margin: 0 2em 2em 0;
	vertical-align: top;
	border: thick solid #0DB4F2;
	border-radius: 1em;
}
#landingPage .pane h2 {
	margin: 0;
	padding: 0.2em 0.5em;
	background: #0DB4F2;
	color: #FFF;
}
#landingPage .pane input[type="button"] {
	font-size: 2em;
	float: right;
	margin: 0.5em;
}
#landingPage .amount {
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 2em;
	font-weight: normal;
}
#landingPage .amount:before, #landingPage .instalmentPremium:before, #landingPage .iptAmount:before{
	content: '£';
}
#landingPage p {
	padding: 0.5em;
}
#landingPage p>span {
	font-weight: bold;
}
#landingPage .smallprint {
	margin-bottom: 0;
	padding: 0.25em;
	font-size: 0.7em;
	border-top: thin solid rgba(0,0,0,0.25);
}
#landingPage .details{
	min-height: 50px;
	padding-left: 60px;
}
#landingPage .duration{
	background: url('calendar-year-dark.png') no-repeat; 
}
#landingPage .vehicle{
	background: url('transport-car-dark.png') no-repeat; 
}
#landingPage .drivers{
	background: url('person-user-dark.png') no-repeat; 
}

/*Driver summary icons*/
.Male {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	font-size: 1.3em;
	background: no-repeat center top;
	background-image: url('person-man-dark.png');
	padding: 12px 50px;
}
.Female {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	font-size: 1.3em;
	background: no-repeat center top;
	background-image: url('person-woman-dark.png');
	padding: 12px 50px;
}