form {
	padding: 0.2em 2em 0 2em;
}

h1 {
	color: #333;
	font-size: 230%;
	font-weight: normal;
}
h3 {
	padding: 0 1em 0 1em;
}
p {
	padding: 0 1em 0 2em;
}

label {
	display: inline-block;
	font-size: 1.2em;
	padding: 0 1em 0 1em;
	width: 40%;
	vertical-align: middle;
}
label.forRadio {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
}
label.forPayment {
	font-size: 1.3em;
	position: relative;
	right: 0.8em;
	width: 2em;
	display: inline;
}


input:focus {
	outline: medium solid #0090C0;
}
input[type="radio"] {
    background-color: #FFF;
    border: thin solid #0090C0;
    padding: 0.45em;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type="radio"]:checked {
	background-color: #0090C0; 
    padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="radio"]:checked:after {
	background-color: #0090C0; /*blue*/
	color: #FFF;
	content: '\2714';
    font-size: 1.3em;   
}
input[type="checkbox"] {
    background-color: #FFF;
    border: thin solid #0090C0;
    padding: 0.45em;
    vertical-align: middle;
    -webkit-appearance: none;
}
input[type="checkbox"]:checked {
	background-color: #0090C0; 
    padding: 0.2em 0.4em 0.2em 0.4em;
}
input[type="checkbox"]:checked:after {
	background-color: #0090C0; /*blue*/
	color: #FFF;
	content: '\2714';
    font-size: 1.3em;   
}

input[type="button"] {
	background-color: #92CE56;
	border: none;
	border-radius: 0.25em;
	color: #FFF;
	cursor: pointer;
	font-size: 1.2em;	
	margin: 1em;
	padding: 0.2em 1em;
	outline: none;
}


input[type="text"] {
	border: thin solid #0090C0;
	font-size: 1.3em;
	width: 20%;
}

input[type="submit"] {
	background-color: #92CE56;
	border: none;
	border-radius: 0.25em;
	color: #FFF;
	cursor: pointer;
	font-size: 2em;	
	margin:	1em 1em 1em 0;
	padding: 0.2em 1em;
}


select {
	border: thin solid #0090C0;
	font-size: 1.3em;
}

div.field {
	border-bottom: thin solid rgba(0, 0, 0, 0.1);
	min-height: 2.1em;
	padding: 1em 0;
}
div.field:hover {
 	background-color: rgba(0,0,0,0.1);
 }
div.field.on, div.field.on:hover {
	background-color: rgba(0,0,0,0.2);
}
 div.field:hover {
 	background-color: rgba(0,0,0,0.1);
 }
div.field.on .hint{
	display: inline-block;
}

.hint{
	background-color: #92CE56;
	border-radius: 0.25em;
	color: #FFF;
	display: none;
	padding: 0.35em;
	position: absolute;
	right: 7em;
	width: 15em;
}
.hint h3 {
	margin: 0;
}
.hint::before {
	color: #92CE56;
	content: '◄';
	font-size: 2em;
	position: absolute;
	margin: -0.3em 0 0 -1em;
}
@media screen and (max-width: 1300px) {
	.hint{
		margin-top: 4em;
	}
	.hint::before {
		color: #92CE56;
		content: '▲';
		font-size: 2em;
		position: absolute;
		margin: -1.1em 0 0 -0em;
	}
}

.rf-dropdown ul{
	display: inline-block;
	min-width: 20%;
	margin: 0.5em 0 0 48%;
	padding: 0.25em 1em;
	list-style: none;
	background-color: rgba(13,180,242,0.3);
}

.navigation {
	text-align: right;
}

.navigation input[type="button"]{
	font-size: 2em;	
}

.invalid-message {
	padding: 0.5em;
	margin-left: 0.5em;
	color: #FFF;
	font-weight: bold;
	background: #D44; /*red*/
	border-radius: 0.25em;
}