.cp form {
	background: none !important;
	color: #FFF;
}
.cp-home #menu-logout {
	min-width: 6em !important;
	margin-left: 2em !important;
}
.cp-home .scp-serviceplan-show {
	width: 95%;
	margin: auto;
	border-radius: 1em;
	background: #fff;
}
.cp-home .scp-serviceplan-show .property-label {
	color: #0090c0 !important;
}
.cp-home .scp-serviceplan-show .service {
	border-color: #0090c0 !important;
}
.cp-home .scp-serviceplan-show .dates2 {
	display: none;
}
.cp-home .scp-serviceplan-show .canx span {
	display: none;
}
.cp-home #quote-list {
	border-color: #fff!important;
	background: #fff;
	overflow: hidden;
}
.cp-home #quote-list .quotes-header > span {
	background-color: transparent !important;
	color: #000 !important;
}
.cp-home .policyholder {
	background-color: #FFF;
	border-radius: 1em;
	width: 80%;
	margin: auto;
}
.cp-home .policyholder .property-group .long {
	width: 70%;
}
.cp-home .sp-qquote {
	max-width: 50em;
	margin: auto !important;
}
.cp-home .sp-qquote form {
	float: left;
	width: 100% !important;
	margin-left: 0%;
	padding: 1em;
	background-color: #FFF;
	color: #333;
	border: medium solid;
	border-radius: 1em;
}
.cp-home .sp-qquote .hint{
	margin-top: 0em!important;
}
.cp-home .sp-qquote .hint::before{
	content:'◄'!important;
	margin: -0.3em 0 0 -1em!important;
}
.cp-home .sp-qquote .confirmVehicleForm p:last-child {
	background-image: url('transport-car-dark-small.png');
}
.cp-home .sp-qquote #landingPage .pane input[type="button"] {
	background-color: #82BE46 !important;
}
.cp-home .sp-qquote #landingPage .duration {
	background-image: url('calendar-year-dark.png');
}
.cp-home .sp-qquote #landingPage .vehicle {
	background-image: url('transport-car-dark.png');
}
.cp-home .sp-qquote #landingPage .navigation {
	color: #FFF;
}
.cp-home footer {
	color: inherit;
	z-index: -1;
}
#popupContent .widget[title='serviceplan'] header {
	background: #0090c0 !important;
}
#popupContent .widget[title='serviceplan'] .button {
	border: none;
	border-radius: 0.25em;
}