footer {
	position: fixed;
	bottom: 0;
	color: inherit;
	z-index: -1;
}
form {
	background: none !important;
	color: #FFF;
}
#quote-list {
	border-color: #fff!important;
	background: #fff;
	overflow: hidden;
}
#quote-list .quotes-header > span {
	background-color: transparent !important;
	color: #000 !important;
}
.widget.policyholder {
	background-color: #FFF;
	border-radius: 1em;
	width: 80%;
	margin: auto;
}
.policyholder .property-group .long {
	width: 70%;
}
.widget.sp-qquote form {
	margin: auto;
	padding: 1em;
	border: medium solid;
	border-radius: 1em;
}