form {
	background: none !important;
	color: #FFF;
}
#scp-serviceplan-show-1 {
	width: 95%;
	margin: auto;
	border-radius: 1em;
	background: #fff;
}
.widget[name='scp-serviceplan-show'] .property-label {
	color: #0090c0 !important;
}
.widget[name='scp-serviceplan-show'] .service {
	border-color: #0090c0 !important;
}
div.widget[name='sp-qquote'] #landingPage .pane input[type="button"] {
	background-color: #82BE46 !important;
}
#quote-list {
	border-color: #fff!important;
	background: #fff;
	overflow: hidden;
}
#quote-list .quotes-header > span {
	background-color: transparent !important;
	color: #000 !important;
}
.widget.policyholder {
	background-color: #FFF;
	border-radius: 1em;
	width: 80%;
	margin: auto;
}
.policyholder .property-group .long {
	width: 70%;
}
.widget.sp-qquote form {
	margin: auto;
	padding: 1em;
	border: medium solid;
	border-radius: 1em;
}
footer {
	position: fixed;
	bottom: 0;
	color: inherit;
	z-index: -1;
}
#popupContent .widget[title='serviceplan'] header {
	background: #0090c0 !important;
}
#popupContent .widget[title='serviceplan'] .button {
	border: none;
	border-radius: 0.25em;
}