.sp-qquote {
	color: #FFF;
}
.sp-qquote button, .sp-qquote .button, .sp-qquote input[type=button] {
	background-color: #33F;
	color: #FFF;
}
.sp-qquote form {
	width: auto !important;
}
.sp-qquote form>h1 {
	text-align: center;
}
.sp-qquote form>h2 {
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	zbackground-color: #FFF;
	zcolor: #333;
	border-bottom: medium solid;
}
.sp-qquote form .field {
	padding: 0 1em;
}
.sp-qquote form select option {
	color: #333 !important;
}
.sp-qquote form select.empty, .sp-qquote form select option:first-child {
	color: #AAA !important;
}
.sp-qquote form .navigation {
	margin-top: 2em;
	padding: 0 1em;
}
/* Chrome fix */ .sp-qquote input, .sp-qquote textarea, .sp-qquote keygen, .sp-qquote select, .sp-qquote button, .sp-qquote isindex {
	margin: 0;
}
.sp-qquote .rhinoforms .invalid {
	color: #333 !important;
}
.sp-qquote .rf-debugbar {
	display: none !important;
}

/* Specific form overrides */
.sp-qquote form.coverForm .field>label {
	width: 70%;
}
.sp-qquote form.registrationForm>h2 {
	display: block !important;
}
.sp-qquote form.registrationForm label {
	width: 30% !important;
}
.sp-qquote form.registrationForm>input.button {
	position: absolute;
	top: 0.25em;
	right: 1em;
}
.sp-qquote form.registrationForm #loginDetails .field {
	margin: 0;
}
.sp-qquote form.registrationForm #input_title, .sp-qquote form.registrationForm #input_dateOfBirthDay {
	width: 3.5em !important;
}
.sp-qquote form.registrationForm #input_firstName, .sp-qquote form.registrationForm #input_surname {
	width: 9em !important;
}
.sp-qquote form.registrationForm .findAddress>label {
	vertical-align: top;
}
.sp-qquote form#paymentPage .paymentTotal {
	position: absolute;
	top: 0;
	right: 1em;
	font-weight: bold;
}
.sp-qquote form#paymentPage .paymentTotal label {
	display: none;
}
.sp-qquote form#paymentPage label {
	width: 45% !important;
}
.sp-qquote form#paymentPage a.changeAccount {
	float: right;
	cursor: pointer;
}
.sp-qquote form.buyComplete p{
	padding: 0 1em;
}