body {
	color: #FFF;
}
button, .button, input[type=button] {
	background-color: #33F;
	color: #FFF;
}
form {
	width: auto !important;
}
form>h1 {
	text-align: center;
}
form>h2 {
	margin: 0 0 1em 0;
	padding: 0.5em 1em;
	background-color: #FFF;
	color: #333;
}
form .field {
	padding: 0 1em;
}
form select {
	color: #333 !important;
}
form .navigation {
	margin-top: 2em;
}
/* Chrome fix */ input, textarea, keygen, select, button, isindex {
	margin: 0;
}
.rf-debugbar {
	display: none !important;
}

/* Specific form overrides */
form.coverForm .field>label {
	width: 70%;
}
form.registrationForm>h2 {
	display: block !important;
}
form.registrationForm>input.button {
	position: absolute;
	top: 0.25em;
	right: 1em;
}
form.registrationForm #loginDetails .field {
	margin: 0;
}
form.registrationForm #input_title, form.registrationForm #input_dateOfBirthDay {
	width: 3.5em;
}
form#paymentPage .paymentTotal {
	position: absolute;
	top: 0;
	right: 1em;
	color: #333;
	font-weight: bold;
}
form#paymentPage .paymentTotal label {
	display: none;
}
form#paymentPage label {
	width: 50% !important;
}
form.buyComplete p{
	padding: 0 1em;
}