<widget>
	<type>pactResponse</type>
	<parameters>
        <secure>false</secure>
		<xsl>products</xsl>
		<pactrequest>
			<![CDATA[
			<pactrequest>
			    <target>
			        <SelectTimeSpanEntity>
						<entityType>product</entityType>
                        <classType>instance</classType>
			        </SelectTimeSpanEntity>
			    </target>
			    <context>
			        <locale>
			            <language>en</language>
			            <country>GB</country>
			        </locale>
                    <actor><actorUid>123</actorUid></actor>
                    <party><partyUid>123</partyUid></party>
			        <sessionId>{sessionId}</sessionId>
					<dateFormat>dd/MM/yyyy</dateFormat>
			    </context>
			    <timepoint>
			        <effectivetime>now</effectivetime>
			        <physicaltime>now</physicaltime>
			    </timepoint>
			    <return>
			        <name>asIdentifiedEntity</name>
                    <params>
                        <descriptionPattern>[UI.{rqWidget}]</descriptionPattern>
                    </params>
			    </return>
			</pactrequest>
			]]>
		</pactrequest>
	</parameters>
	<attributes>
		<displayHeader>false</displayHeader>
	</attributes>
</widget>
