<widget>
	<type>pactResponse</type>
	<parameters>
		<xsl>agreements</xsl>
		<pactrequest>
			<![CDATA[
			<pactrequest>
			<target>   
				<SelectTimeSpanEntity>
			  		<entityType>policy</entityType>
				    <partassociatedidentifier>
				     <uid>{actorUid}</uid>
				    </partassociatedidentifier>
			   </SelectTimeSpanEntity>
			</target>
			<timepoint><effectivetime>now</effectivetime><physicaltime>now</physicaltime>
			</timepoint>
			<context>
                    <actor><actorUid>123</actorUid></actor>
                    <party><partyUid>123</partyUid></party>
			</context>
				<return>
			<name>asIdentifiedEntity</name>
			<params>
          		 <descriptionPattern>[Agreement Role:product.[assocdescription.{productName}]]|[Agreement Role:product.[assocdescription.[UI.{cpWidget}]]]|/[Agreement Role:product.[assocdescription.[UI.{cpWidget}]#]]{uid}</descriptionPattern>
      		 </params>
			</return>
			</pactrequest>
			]]>
		</pactrequest>
	</parameters>
	<attributes>
		<displayHeader>false</displayHeader>
		<css>cp-policy-agreements.css</css>
		<js>cp-policy-agreements.js</js>
	</attributes>
</widget>

