#cp-policy-details a{
	color: inherit;
}
#cp-policy-details .pane:hover{
	border-color: #92CE56;
}
#cp-policy-details .pane:hover .title{
	background-color: #92CE56;
}
#cp-policy-details .pholder,#cp-policy-details .driver,#cp-policy-details .vehicle,#cp-policy-details .add{
	display: inline-block;
	height: 50px;
	vertical-align: top;
	padding: 50px 0.5em 0 0.5em;
	font-size: 0.8em;
	background: no-repeat center top;
}
#cp-policy-details .man{
	background-image: url('person-man-dark.png');
}
#cp-policy-details .woman{
	background-image: url('person-woman-dark.png');
}
#cp-policy-details .vehicle{
	background-image: url('transport-car-dark.png');
}
#cp-policy-details .add{
	width: 4em;
	margin-left: 2em;
	background: url('symbol-add-dark-small.png') no-repeat center 20%;
}
#cp-policy-details a>span[href]{
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -50px 0 0 -20px;
	background: #D44 url('symbol-cross-light.png') no-repeat center center;
	border-radius: 13em;
}
#cp-policy-details a:hover>span[href]{
	display: inline-block;
}