<widget>
	<type>pactResponseLayout</type>
	<parameters>
		<xsl>displayAgreement</xsl>
		<pactrequest><![CDATA[<pactrequest>
		<target><uid>{agreementUid}</uid></target>
	<context>
		<locale>
			<language>en</language>
			<country>GB</country>
		</locale>
		<actor><actorUid>123</actorUid></actor>
        <party><partyUid>123</partyUid></party>
		<process/>
		<evType/>
		<evSubType/>
		<sessionId>{sessionId}</sessionId>
		<dateFormat>dd/MM/yyyy kk:mm:ss</dateFormat>
		<timeWarning>2000</timeWarning>
	</context>
	<timepoint>
		<effectivetime>now</effectivetime>
		<physicaltime>now</physicaltime>
	</timepoint>
	<return>
		<name>asTimeSpanEntityVersion</name>
		<params><useCache>true</useCache><depth>1</depth></params>
	</return>
</pactrequest>]]></pactrequest>
	</parameters>
	<attributes>
		<js>displayAgreement.js</js>
		<css>agreement.css</css>
		<displayHeader>false</displayHeader>
		<waitForNested>true</waitForNested>
	</attributes>
</widget>
