.scp-policy-client .widget-content>.displayAgreement>div>.agreement>h1 {
	background-image: url('id-dark.png');
}
.scp-policy-client .scp-associated-aggrements .clientRelationship {
	display: none;
}
.documents {
	padding: 10px 0 10px 30px;
	background: url('document.png') no-repeat center left;;
	font-size: 120%;
	border-bottom: thin solid;
	font-weight: normal;
}
.mm-documents .pdf {
	display: inline-block;
	margin: 0px 10px 15px 10px;
	padding: 12px 50px;
	white-space: nowrap;
	background: url('file-pdf.png') no-repeat left;
	color: inherit;
}