/* New page styling */
article[type='internal'] .new-square[type='accounts'] {
	background-image: url('images/coins-light.png');
	background-color: #9BBB59;
}

/* Aside (tabs) styling */
#content aside[type='accounts']{
	background-image: url('images/coins-dark.png');
	border-color: #9BBB59;
}
#content aside[type='accounts'].on{
	background-image: url('images/coins-light.png');
	background-color: #9BBB59;
}

/* Article (pages) styling */
#content article[type='accounts'], #content article[type='accounts'] .content-helper, #content article[type='accounts'] .content-body {
	border-color: #9BBB59;
}
#content article[type='accounts']::-webkit-scrollbar-thumb, #content article[type='accounts'] .content-header, #content article[type='accounts'] .content-helper {
	background-color: #9BBB59;
}

/* Specific page styling */
#content article[type='accounts'] .scp-accounts div.widget{
	display: inline-block;
	width:40%;
}
#content article[type='accounts'] .accountList {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content article[type='accounts'] .accountList li{
	padding: 0.5em;
}
#content article[type='accounts'] .accountList li:hover{
	background-color:#eee;
}
#content article[type='accounts'] .accountList li a.active{
	background:url('small-arrow.gif') no-repeat 362px 1px #ddf;
}
