#content aside[type='internal'][subtype='batch']{
	background-image: url('images/gear-dark.png');
}
#content aside[type='internal'][subtype='batch'].on{
	background-image: url('images/gear-light.png');
}

article[type="internal"] summary h2 {
	display: inline-block;
}
article[type="internal"] .new-square-group{
	display: inline-block;
	padding: 0 2em;
}
article[type="internal"] .new-square-group h3{
	position: absolute;
	width: 6.2em;
	-webkit-transform-origin: 2em 4em;
	-webkit-transform: rotate(-90deg);
	overflow: hidden;
	padding: 0.1em 0.5em;
	text-align: right;
	font-size: 0.75em;
	font-weight: normal;
	white-space: nowrap;
}
article[type="internal"] .new-square {
	display: inline-block;
	height: 2em;
	width: 6em;
	overflow: hidden;
	margin: 0 1em 1em 0;
	padding: 5em 1em 0.5em 1em;
	background: #999 no-repeat center 1em;
	color: #FFF;
	border: medium solid rgba(0,0,0,0.3);
	border-radius: 1em;
	text-align: center;
	vertical-align: top;
}
article[type="internal"] .new-square:hover {
	text-decoration: underline;
	border-color: rgba(0,0,0,0.6);
}
/* Group colours and default icons */
article[type="internal"] .napier .new-square {
	background-image: url('images/napier-light.png');
	background-color: #9BBB59;
}
article[type="internal"] .pact .new-square {
	background-image: url('images/pact-light.png');
	background-color: #C0504D;
}
article[type="internal"] .claims .new-square {
	background-image: url('images/iceclaims-light.png');
	background-color: #4BACC6;
}
article[type="internal"] .mailmerger .new-square {
	background-image: url('images/mm-light.png');
	background-color: #8064A2;
}
article[type="internal"] .mis .new-square {
	background-image: url('images/icetrack-light.png');
	background-color: #4F81BD;
}

/* Individual icon assignments */
article[type="internal"] .new-square.profile {
	background-image: url('images/person-light.png');
}
article[type="internal"] .new-square.batch {
	background-image: url('images/gear-light.png');
}
article[type="internal"] .new-square.users {
	background-image: url('images/person-group-light.png');
}
article[type="internal"] .new-square.search {
	background-image: url('images/search-light.png');
}
article[type="internal"] .new-square.quote {
	background-image: url('images/calculator-buttons-light.png');
}
article[type="internal"] .new-square.stats {
	background-image: url('images/chart-bar-light.png');
}
article[type="internal"] .new-square.renewals {
	background-image: url('images/symbol-refresh-light.png');
}
article[type="internal"] .new-square.products {
	background-image: url('images/pact-light.png');
}
article[type="internal"] .new-square.accounts {
	background-image: url('images/coins-light.png');
}
article[type="internal"] .new-square.reports {
	background-image: url('images/reports-light.png');
}
