/* New page styling */
article[type='internal'] .new-square[type='internal'] {
	background-image: url('images/gear-light.png');
}
article[type="internal"] .new-square[type='internal'][subtype='profile'] {
	background-image: url('images/person-light.png');
}
article[type="internal"] .new-square[type='internal'][subtype='users'] {
	background-image: url('images/person-group-light.png');
}
article[type="internal"] .new-square[type='internal'][subtype='products'] {
	background-image: url('images/pact-light.png');
}
article[type="internal"] .new-square[type='internal'][subtype='batch'] {
	background-image: url('images/gear-light.png');
}

/* Aside (tabs) styling */
#content aside[type='internal']{
	background-image: url('images/plus-dark.png');
	border-color: #999; 
}
#content aside[type='internal'].on{
	background-color: #999; 
	background-image: url('images/plus-light.png');
}
#content aside[type="internal"][subtype='profile'] {
	background-image: url('images/person-dark.png');
}
#content aside[type="internal"][subtype='profile'].on {
	background-image: url('images/person-light.png');
}
#content aside[type="internal"][subtype='users'] {
	background-image: url('images/person-group-dark.png');
}
#content aside[type="internal"][subtype='users'].on {
	background-image: url('images/person-group-light.png');
}
#content aside[type="internal"][subtype='products'] {
	background-image: url('images/pact-dark.png');
}
#content aside[type="internal"][subtype='products'].on {
	background-image: url('images/pact-light.png');
}
#content aside[type="internal"][subtype='batch'] {
	background-image: url('images/gear-dark.png');
}
#content aside[type="internal"][subtype='batch'].on {
	background-image: url('images/gear-light.png');
}

/* Article (pages) styling */




