#content aside[type='napier']{
	background-image: url('images/napier-dark.png');
	border-color: #9BBB59; 
}
#content aside[type='napier'].on{
	background-color: #9BBB59; 
	background-image: url('images/napier-light.png');
}
#content aside[type='napier'][subtype='quote']{
	background-image: url('images/quote-dark.png');
}
#new-page a[type='napier'][subtype='quote'],#content aside[type='napier'][subtype='quote'].on{
	background-image: url('images/quote-light.png');
}
#content aside[type='napier'][subtype='search']{
	background-image: url('images/search-dark.png');
}
#new-page a[type='napier'][subtype='search'],#content aside[type='napier'][subtype='search'].on{
	background-image: url('images/search-light.png');
}

#content article[type='napier'],#content article[type='napier'] .content-helper,#content article[type='napier'] .content-body{
	border-color: #9BBB59;
}
#content article[type='napier'] .content-header,#content article[type='napier'] .content-helper{
	background-color: #9BBB59;
}

/* Specific page styling */
#content article[uid='napiersearch'] .content-body{
	padding: 0;
}
#content div.scp-napier-search .content-header{
	border-top: thin solid;
	border-radius: 0;
}
#content .napier-search-input{
	border-color: white;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 0.2em;
	font-size: 2em;
	padding: 0 0.5em;
	width: 70%;
}
#content .napier-search-button{
	font-size: 1.8em;
}

#content .napier-search-results ul{
	width: 97%;
	list-style: none;
	padding-left: 1em;
}
#content .napier-search-results li{
	position: relative;
	padding: 1em 5.5em 1em 30px;
	background: url('images/calculator-buttons-small.png') no-repeat 6px center;
}
#content .napier-search-results li:before{
	content: attr(calcref);
}
#content .napier-search-results li:nth-child(odd){
	background-color: rgba(155,187,89,0.3);
}
#content .napier-search-results li>*{
	display: none;
}
#content .napier-search-results calcSource, #content .napier-search-results physicalTime,#content .napier-search-results li span{
	display: inline-block;
	max-width: 12.5%;
	overflow: hidden;
	border-left: 1em solid transparent;
	white-space: nowrap;
}
#content .napier-search-results li span{
	max-width: 22%;
}
#content .napier-search-results .reg{
	text-transform: uppercase;
}
#content .napier-search-results li a{
	display: inline-block;
	position: absolute;
	right: 4px;
	top: 11px;
	background-color: #6B8B39;
	border-radius: 1em;
}

span.currency:before{
	content: '£';
}