/* New page styling */
article[type='internal'] .new-square[type='policy'] {
	background-image: url('images/pact-light.png');
	background-color: #9BBB59;
}
article[type='internal'] .new-square[type='policy'][subtype='search'] {
	background-image: url('images/search-light.png');
}
article[type="internal"] .new-square[type='policy'][subtype='renewals'] {
	background-image: url('images/symbol-refresh-light.png');
}

/* Aside (tabs) styling */
#content aside[type='policy']{
	background-image: url('images/pact-dark.png');
	border-color: #9BBB59; 
}
#content aside[type='policy'].on{
	background-color: #9BBB59; 
	background-image: url('images/pact-light.png');
}
#content aside[type='policy'][subtype='search']{
	background-image: url('images/search-dark.png');
}
#content aside[type='policy'][subtype='search'].on{
	background-image: url('images/search-light.png');
}
#content aside[type='policy'][subtype='renewals']{
	background-image: url('images/symbol-refresh-dark.png');
}
#content aside[type='policy'][subtype='renewals'].on{
	background-image: url('images/symbol-refresh-light.png');
}

/* Article (pages) styling */
#content article[type='policy'], #content article[type='policy'] .content-helper, #content article[type='policy'] .content-body{
	border-color: #9BBB59;
}
#content article[type='policy'] .content-header, #content article[type='policy'] .content-helper, #content article[type='policy']::-webkit-scrollbar-thumb{
	background-color: #9BBB59;
}

/* Specific page styling */
#content article[type='policy'][subtype='search'] .content-body{
	padding: 0;
}
#content div.scp-policy-search .content-header{
	border-top: thin solid;
	border-radius: 0;
}
#content .pact-search-input{
	border-color: white;
	border-radius: 0.25em;
	font-size: 2em;
	padding: 0 0.5em;
	width: 70%;
}
#content .pact-search-button{
	font-size: 1.8em;
}
#content .scp_pact_search_results {
	min-height: 15em;
}
#content .searchResult{
	padding: 1em;
}
#content .searchResult:hover{
	background-color: rgba(155,187,89,0.5);
}
