*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
}
div.widget>.widget-head {
	display: none;
}
div.widget>.widget-messages {
	overflow: hidden;
	background-color: #A0F0F0;
	color: #333;
	border-radius: 0.25em;
}
div.widget>.widget-messages>div {
	padding: 0.25em 0.5em;
}
div.widget>.widget-messages>div>a {
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('symbol-close.png') no-repeat;
	cursor: pointer;
}
div.widget>.widget-messages>div.error {
	background-color: #F0A0A0;
}
#login-form {
	width: 80%;
	margin: auto;
	text-align: center;
}
#login-form form {
	width: 45%;
	min-width: 275px;
	min-height: 18em;
	margin: 2%;
	padding: 1%;
	vertical-align: top;
	background: rgba(255,255,255,0.8);
	border-radius: 0.5em;
	box-shadow: 0 0 0 0.5em rgba(0,0,0,0.2);
	display: inline-block;
	text-align: left;
}
#login-form h2 {
	margin: 0 0 0.5em 0;
	color: #0090D0;
}
#login-form h3 {
	font-size: 1.1em;
	margin: 0;
}
#login-form p {
	margin: 0.5em 0;
	font-size: 0.8em;
}
#login-form label {
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}
#login-form input {
	display: block;
	width: 90%;
	padding: 0.1em 0.25em;
	font-size: 1.5em;
	border: thin solid #888;
	border-radius: 0.25em;
}
#login-form button {
	float: right;
	margin-top: 1em;
	padding: 0.2em 2em;
	background: #92CE56;
	color: white;
	border: none;
	border-radius: 0.25em;
	font-size: 1.5em;
	cursor: pointer;
}
#login-form button:hover {
	background-color: #82BE46;
}
#login-form-enter {
	margin-bottom: 2em;
}
#login-form a {
	float: left;
	margin-top: 1.5em;
	font-size: 0.75em;
	color: inherit;
	text-decoration: none;
}
#login-form a:hover {
	text-decoration: underline;
}
#login-form-reset-text {
	padding: 0.6em 0;
}

footer {
	padding: 1em 10%;
	color: #DDD;
	font-size: 0.65em;
}
footer p {
	display: inline-block;
	width: 80%;
	margin: 0;
	vertical-align: top;
}
footer p:first-child{
	width: 19.5%;
	font-weight: bold;
}
